<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons>
      <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
      <ion-title>Cancelamentos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div *ngFor="let s of schedulings">
    <ion-card *ngIf="s.client_id === 8">
      <img src="assets/salaobarb.jpeg" />
      <ion-card-header>
        <ion-card-title>{{s.nameClient}}</ion-card-title>

        <ion-card-subtitle
          >Você cancelou uma visita para o dia {{s.date}} . Horário: {{s.hour}}.
          Periodo: {{s.period}}
        </ion-card-subtitle>
      </ion-card-header>


    </ion-card>
  </div>
</ion-content>
