<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons>
      <ion-button slot="end" (click)="fecharModal()">Fechar</ion-button>
      <ion-title>Agendamentos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div *ngFor="let s of schedulings">
    <ion-card *ngIf="s.client_id === 8">
      <img src="assets/salaobarb.jpeg" />
      <ion-card-header>
        <ion-card-subtitle
          >Você marcou uma visita para o dia {{s.date}} . Horário: {{s.hour}}.
          Periodo: {{s.period}}
        </ion-card-subtitle>
        <ion-card-title>{{s.nameClient}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Estamos te aguardando no Senac de Nova Iguaçu. Até lá!!
      </ion-card-content>
      <ion-button (click)="presentAlert()" class="align-center" color="dark">
        Cancelar agendamento</ion-button
      >
    </ion-card>
  </div>
</ion-content>
